{% extends "layout.html" %}
{% block content %}
       <div class="row">
			<div>
				<form class="form-horizontal" action="delete_post" method="post">
	
                <input type="hidden" name="type" value="{{ accType }}">
                <input type="hidden" name="email" value="{{ username }}">

 				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<p>This will permanently delete your account:</p>
					  <button type="submit" id="delete" class="btn btn-default">Delete Account</button>
					</div>
				  </div>
				</form>
			</div>
        </div>

{% endblock %}
