{% extends "layout.html" %}
{% block content %}
	<style>
			.nolink {
    			text-decoration: none !important;
			}
			.tutor-card {
			  border: 1px solid #cccccc;
			  background: #f8f8f8;
			  padding: 10px;
			  border-radius: 4px;
			  width: 80%;
			  margin: 0 auto;
			}
			.tutor-name {
			  font-size: 22px;
			}
	</style>

	<div class="col-lg-12 text-center">
		<h1>Welcome to TutorFinder</h1>
			<p class="lead">{{ name }}'s Account Page</p>
			Overall Rating:
			<p style="font-size:30px;">{{ rating }}</p> <br/>
				<div class="col-xs tutor-email">
					Email: {{ username }}
				</div>
			<p></p>
			<p>Tutoring in the following courses:</p><br/>
				{% for result in results %}	
					<div class="row tutor-card" style="margin-bottom: 12px;">
						<div class="col-xs tutor-email">
							{{ result['CourseCode'] }}
						</div>
						<div class="col-xs tutor-email">
							Price Per Hour: {{ result['Rate'] }}
						</div>
					</div>
				{% endfor %}
	</div>
{% endblock %}
